/react-caloriestracker/src/setupTests.js
/react-caloriestracker/src/reportWebVitals.js
/react-caloriestracker/src/logo.svg
/react-caloriestracker/package-lock.json
/package-lock.json
/.idea/
/node_modules/

